html , body{
  margin: 0;
}
h1, h2 ,h3{
  color: black;
}
p{
  color: white;
  opacity: .8s;
}
.container{
  width: 800px;
  margin: auto;
}
#Banner {
  background-image: url('im.jpg') ;
  background-size: cover;
  background-position: bottom;
  padding: 150px 0;
  text-align: center;
}

#Banner h1{
  color: #f34213;
  font-size: 45px;
  margin: 0;
}
#Banner p{
  color: white;
  font-size: 18px;
}
.button-blue{
  background-color: #f34213;
  color: white;
  padding: 16px 20px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}
.button-blue:hover {
  background-color: #f4b860;
  color: black;
}
.container h2 {
  text-align: center;
}

.Tres{
  background: #f34213;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 200px;
  text-align: center;
  padding: 24px;
  margin: 8px;
}
.Tres img{
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: bottom;
  border-radius: 5px;
}
.Tres h3 {
  margin-bottom: 0;
}
#Footer {
  margin-top: 50px;
  background: #f34213;
  padding: 24px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  text-align: center;
}
.button-Footer{
  background-color: #f34213;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}
.button-Footer:hover{
  background-color: #f4b860;
  color: black;
}

.Cartas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
